openapi: '3.0.3'
info:
  title: 'Topcon Dispatch External Integrations API'
  version: '1.27.0'
  description: 'Topcon Dispatch External Integrations API exposes the multi-tenant REST surface used to synchronize master data, commercial records, scheduling data, plant automation events, and fiscal artifacts with upstream systems. The API returns a consistent response envelope for both success and error cases, supports lookups by internal and external identifiers, and relies on gateway-level authentication plus tenant-scoping headers.'
servers:
  - url: 'https://api.topconsuite.io/dispatch'
    description: 'Production API gateway'
  - url: 'http://localhost:4005/dispatch'
    description: 'Local development server'
security:
  - SubscriptionKeyAuth: []
    TenantHeaderAuth: []
    BearerAuth: []
tags:
  - name: 'Additional Fees Contract'
    description: 'Synchronize **Additional Fees Contract** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Additional Fees Contract.'
    x-displayName: 'Additional Fees Contract'
  - name: 'Additional Fees Type'
    description: 'Synchronize **Additional Fees Type** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Additional Fees Type.'
    x-displayName: 'Additional Fees Type'
  - name: 'Allocation'
    description: 'Synchronize **Allocation** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Allocation.'
    x-displayName: 'Allocation'
  - name: 'Cancellation Additional Fee'
    description: 'Synchronize **Cancellation Additional Fee** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Cancellation Additional Fee.'
    x-displayName: 'Cancellation Additional Fee'
  - name: 'Cancellation Reason'
    description: 'Synchronize **Cancellation Reason** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Cancellation Reason.'
    x-displayName: 'Cancellation Reason'
  - name: 'Classification Supply Type'
    description: 'Synchronize **Classification Supply Type** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Classification Supply Type.'
    x-displayName: 'Classification Supply Type'
  - name: 'Client'
    description: 'Synchronize **Client** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Client.'
    x-displayName: 'Client'
  - name: 'Concrete Batching Plant Group'
    description: 'Synchronize **Concrete Batching Plant Group** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Batching Plant Group.'
    x-displayName: 'Concrete Batching Plant Group'
  - name: 'Concrete Batching Plant Regional'
    description: 'Synchronize **Concrete Batching Plant Regional** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Batching Plant Regional.'
    x-displayName: 'Concrete Batching Plant Regional'
  - name: 'Concrete Batching Plant'
    description: 'Synchronize **Concrete Batching Plant** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Batching Plant.'
    x-displayName: 'Concrete Batching Plant'
  - name: 'Concrete Characteristics Type'
    description: 'Synchronize **Concrete Characteristics Type** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Characteristics Type.'
    x-displayName: 'Concrete Characteristics Type'
  - name: 'Concrete Recipe Characteristic'
    description: 'Synchronize **Concrete Recipe Characteristic** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Recipe Characteristic.'
    x-displayName: 'Concrete Recipe Characteristic'
  - name: 'Concrete Recipe Family Version'
    description: 'Synchronize **Concrete Recipe Family Version** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Recipe Family Version.'
    x-displayName: 'Concrete Recipe Family Version'
  - name: 'Concrete Recipe Family'
    description: 'Synchronize **Concrete Recipe Family** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Recipe Family.'
    x-displayName: 'Concrete Recipe Family'
  - name: 'Concrete Recipe'
    description: 'Synchronize **Concrete Recipe** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Concrete Recipe.'
    x-displayName: 'Concrete Recipe'
  - name: 'ConcreteDiscardDestination'
    description: 'Synchronize **ConcreteDiscardDestination** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for ConcreteDiscardDestination.'
    x-displayName: 'ConcreteDiscardDestination'
  - name: 'Construction Front'
    description: 'Synchronize **Construction Front** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Construction Front.'
    x-displayName: 'Construction Front'
  - name: 'Construction'
    description: 'Synchronize **Construction** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Construction.'
    x-displayName: 'Construction'
  - name: 'Contact Info'
    description: 'Synchronize **Contact Info** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Contact Info.'
    x-displayName: 'Contact Info'
  - name: 'Contact'
    description: 'Synchronize **Contact** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Contact.'
    x-displayName: 'Contact'
  - name: 'Contract'
    description: 'Synchronize **Contract** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Contract.'
    x-displayName: 'Contract'
  - name: 'Cost Supply'
    description: 'Synchronize **Cost Supply** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Cost Supply.'
    x-displayName: 'Cost Supply'
  - name: 'Country'
    description: 'Synchronize **Country** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Country.'
    x-displayName: 'Country'
  - name: 'Daily Production Closing'
    description: 'Synchronize **Daily Production Closing** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Daily Production Closing.'
    x-displayName: 'Daily Production Closing'
  - name: 'Delivery Route'
    description: 'Synchronize **Delivery Route** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Delivery Route.'
    x-displayName: 'Delivery Route'
  - name: 'Delivery Tax Document'
    description: 'Synchronize **Delivery Tax Document** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Delivery Tax Document.'
    x-displayName: 'Delivery Tax Document'
  - name: 'Delivery Ticket'
    description: 'Synchronize **Delivery Ticket** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Delivery Ticket.'
    x-displayName: 'Delivery Ticket'
  - name: 'Delivery'
    description: 'Synchronize **Delivery** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Delivery.'
    x-displayName: 'Delivery'
  - name: 'Employee'
    description: 'Synchronize **Employee** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Employee.'
    x-displayName: 'Employee'
  - name: 'Gravel'
    description: 'Synchronize **Gravel** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Gravel.'
    x-displayName: 'Gravel'
  - name: 'Holiday'
    description: 'Synchronize **Holiday** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Holiday.'
    x-displayName: 'Holiday'
  - name: 'Inventory Movement'
    description: 'Synchronize **Inventory Movement** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Inventory Movement.'
    x-displayName: 'Inventory Movement'
  - name: 'Item Other Services'
    description: 'Synchronize **Item Other Services** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Item Other Services.'
    x-displayName: 'Item Other Services'
  - name: 'Item Product'
    description: 'Synchronize **Item Product** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Item Product.'
    x-displayName: 'Item Product'
  - name: 'Item Pumping'
    description: 'Synchronize **Item Pumping** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Item Pumping.'
    x-displayName: 'Item Pumping'
  - name: 'Load ticket response'
    description: 'Synchronize **Load ticket response** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Load ticket response.'
    x-displayName: 'Load ticket response'
  - name: 'Load Ticket'
    description: 'Synchronize **Load Ticket** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Load Ticket.'
    x-displayName: 'Load Ticket'
  - name: 'Loading Point'
    description: 'Synchronize **Loading Point** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Loading Point.'
    x-displayName: 'Loading Point'
  - name: 'LoadReuse'
    description: 'Synchronize **LoadReuse** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for LoadReuse.'
    x-displayName: 'LoadReuse'
  - name: 'Log Scheduling'
    description: 'Synchronize **Log Scheduling** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Log Scheduling.'
    x-displayName: 'Log Scheduling'
  - name: 'Municipality'
    description: 'Synchronize **Municipality** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Municipality.'
    x-displayName: 'Municipality'
  - name: 'Owner'
    description: 'Synchronize **Owner** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Owner.'
    x-displayName: 'Owner'
  - name: 'Payment Condition'
    description: 'Synchronize **Payment Condition** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Payment Condition.'
    x-displayName: 'Payment Condition'
  - name: 'Piece To Be Concreted'
    description: 'Synchronize **Piece To Be Concreted** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Piece To Be Concreted.'
    x-displayName: 'Piece To Be Concreted'
  - name: 'Preliminary visits'
    description: 'Synchronize **Preliminary visits** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Preliminary visits.'
    x-displayName: 'Preliminary visits'
  - name: 'Product Group'
    description: 'Synchronize **Product Group** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Product Group.'
    x-displayName: 'Product Group'
  - name: 'Pumping Type'
    description: 'Synchronize **Pumping Type** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Pumping Type.'
    x-displayName: 'Pumping Type'
  - name: 'Reservation'
    description: 'Synchronize **Reservation** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Reservation.'
    x-displayName: 'Reservation'
  - name: 'Safety visits'
    description: 'Synchronize **Safety visits** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Safety visits.'
    x-displayName: 'Safety visits'
  - name: 'Scheduling'
    description: 'Synchronize **Scheduling** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Scheduling.'
    x-displayName: 'Scheduling'
  - name: 'Seller'
    description: 'Synchronize **Seller** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Seller.'
    x-displayName: 'Seller'
  - name: 'Service Type'
    description: 'Synchronize **Service Type** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Service Type.'
    x-displayName: 'Service Type'
  - name: 'Service'
    description: 'Synchronize **Service** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Service.'
    x-displayName: 'Service'
  - name: 'Slump'
    description: 'Synchronize **Slump** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Slump.'
    x-displayName: 'Slump'
  - name: 'Supplier'
    description: 'Synchronize **Supplier** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Supplier.'
    x-displayName: 'Supplier'
  - name: 'Supply'
    description: 'Synchronize **Supply** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Supply.'
    x-displayName: 'Supply'
  - name: 'TaxClassification'
    description: 'Synchronize **TaxClassification** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for TaxClassification.'
    x-displayName: 'TaxClassification'
  - name: 'TaxRegulation'
    description: 'Synchronize **TaxRegulation** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for TaxRegulation.'
    x-displayName: 'TaxRegulation'
  - name: 'TaxSituationClassification'
    description: 'Synchronize **TaxSituationClassification** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for TaxSituationClassification.'
    x-displayName: 'TaxSituationClassification'
  - name: 'Technical Data Supply'
    description: 'Synchronize **Technical Data Supply** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Technical Data Supply.'
    x-displayName: 'Technical Data Supply'
  - name: 'Vehicle'
    description: 'Synchronize **Vehicle** records between upstream business systems and Topcon Dispatch. Use this tag for the documented create, read, update, delete, and export-style synchronization operations exposed for Vehicle.'
    x-displayName: 'Vehicle'
x-tagGroups:
  - name: 'Commercial'
    tags:
      - 'Additional Fees Contract'
      - 'Additional Fees Type'
      - 'Cancellation Additional Fee'
      - 'Cancellation Reason'
      - 'Client'
      - 'Contact'
      - 'Contact Info'
      - 'Contract'
      - 'Owner'
      - 'Payment Condition'
      - 'Seller'
  - name: 'Scheduling And Dispatch'
    tags:
      - 'Allocation'
      - 'Construction'
      - 'Construction Front'
      - 'Daily Production Closing'
      - 'Delivery'
      - 'Delivery Route'
      - 'Delivery Tax Document'
      - 'Delivery Ticket'
      - 'Load Ticket'
      - 'Load ticket response'
      - 'LoadReuse'
      - 'Log Scheduling'
      - 'Piece To Be Concreted'
      - 'Preliminary visits'
      - 'Reservation'
      - 'Safety visits'
      - 'Scheduling'
  - name: 'Plants And Materials'
    tags:
      - 'Classification Supply Type'
      - 'Concrete Batching Plant'
      - 'Concrete Batching Plant Group'
      - 'Concrete Batching Plant Regional'
      - 'Concrete Characteristics Type'
      - 'Concrete Recipe'
      - 'Concrete Recipe Characteristic'
      - 'Concrete Recipe Family'
      - 'Concrete Recipe Family Version'
      - 'ConcreteDiscardDestination'
      - 'Cost Supply'
      - 'Gravel'
      - 'Inventory Movement'
      - 'Item Other Services'
      - 'Item Product'
      - 'Item Pumping'
      - 'Loading Point'
      - 'Product Group'
      - 'Pumping Type'
      - 'Service'
      - 'Service Type'
      - 'Slump'
      - 'Supplier'
      - 'Supply'
      - 'Technical Data Supply'
  - name: 'Master Data'
    tags:
      - 'Country'
      - 'Employee'
      - 'Holiday'
      - 'Municipality'
      - 'Vehicle'
  - name: 'Fiscal'
    tags:
      - 'TaxClassification'
      - 'TaxRegulation'
      - 'TaxSituationClassification'
paths:
  '/integrations/AdditionalFeesContract/{id}':
    get:
      summary: 'Get an Additional Fees Contract by ID'
      description: |-
        Retrieves a single **Additional Fees Contract** using the internal Topcon identifier.
        
        - Use this route when the caller already stores the platform `id`.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'getAdditionalFeesContractById'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Unique identifier of the Additional Fees Contract record.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X GET 'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}', {
              method: 'GET',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            HttpContent? payload = null;
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}") { Content = null });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'GET',
                'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }
            )
    patch:
      summary: 'Update an Additional Fees Contract by ID'
      description: |-
        Applies a partial update to an existing **Additional Fees Contract** record.
        
        - Only send fields that must change in the `AdditionalFeesContractUpdateRequest` payload.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'updateAdditionalFeesContractById'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Unique identifier of the Additional Fees Contract record.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
        '422':
          description: 'Request was syntactically valid but failed semantic or business-rule validation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Validation failed for one or more fields.'
                errorCode: '422'
                notifications:
                  - 'Correct the business validation errors and retry.'
      requestBody:
        required: true
        description: 'Payload used to update a Additional Fees Contract record.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesContractUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
              contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              itemSequence: 1001
              additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
              execution:
                method: 'AUTOMATIC'
                effectiveAt: '2026-04-16T10:00:00Z'
              additionalFeesText: 'additional Fees Text sample'
    delete:
      summary: 'Delete an Additional Fees Contract by ID'
      description: |-
        Deletes the targeted **Additional Fees Contract** record from the integration surface.
        
        - The API returns a confirmation envelope with the deleted reference in `result`.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'deleteAdditionalFeesContractById'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Unique identifier of the Additional Fees Contract record.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Delete confirmation returned when the operation completes successfully.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractDeleteResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract deleted successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
  '/integrations/AdditionalFeesContract/by-external-id/{externalId}':
    get:
      summary: 'Get an Additional Fees Contract by external ID'
      description: |-
        Retrieves a single **Additional Fees Contract** using the external identifier managed by the upstream platform.
        
        - Use this route when the caller stores `externalId` instead of the internal Topcon identifier.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'getAdditionalFeesContractByExternalId'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'External identifier assigned to the Additional Fees Contract record by the upstream platform.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESCONTRACT-1001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
    patch:
      summary: 'Update an Additional Fees Contract by external ID'
      description: |-
        Applies a partial update to an existing **Additional Fees Contract** record.
        
        - Only send fields that must change in the `AdditionalFeesContractUpdateRequest` payload.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'updateAdditionalFeesContractByExternalId'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'External identifier assigned to the Additional Fees Contract record by the upstream platform.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESCONTRACT-1001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
        '422':
          description: 'Request was syntactically valid but failed semantic or business-rule validation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Validation failed for one or more fields.'
                errorCode: '422'
                notifications:
                  - 'Correct the business validation errors and retry.'
      requestBody:
        required: true
        description: 'Payload used to update a Additional Fees Contract record.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesContractUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
              contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              itemSequence: 1001
              additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
              execution:
                method: 'AUTOMATIC'
                effectiveAt: '2026-04-16T10:00:00Z'
              additionalFeesText: 'additional Fees Text sample'
    delete:
      summary: 'Delete an Additional Fees Contract by external ID'
      description: |-
        Deletes the targeted **Additional Fees Contract** record from the integration surface.
        
        - The API returns a confirmation envelope with the deleted reference in `result`.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'deleteAdditionalFeesContractByExternalId'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'External identifier assigned to the Additional Fees Contract record by the upstream platform.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESCONTRACT-1001'
      responses:
        '200':
          description: 'Delete confirmation returned when the operation completes successfully.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractDeleteResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract deleted successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
  '/integrations/AdditionalFeesContract':
    post:
      summary: 'Create an Additional Fees Contract record'
      description: |-
        Creates a new **Additional Fees Contract** record in the external integration surface.
        
        - Send the payload described by `AdditionalFeesContractCreateRequest` and keep `externalId` stable when the upstream system needs idempotent correlation.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'createAdditionalFeesContract'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
      responses:
        '201':
          description: 'Created resource returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Additional Fees Contract created successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '422':
          description: 'Request was syntactically valid but failed semantic or business-rule validation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Validation failed for one or more fields.'
                errorCode: '422'
                notifications:
                  - 'Correct the business validation errors and retry.'
      requestBody:
        required: true
        description: 'Payload used to create a Additional Fees Contract record.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesContractCreateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
              contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              itemSequence: 1001
              additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
              execution:
                method: 'AUTOMATIC'
                effectiveAt: '2026-04-16T10:00:00Z'
              additionalFeesText: 'additional Fees Text sample'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X POST 'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json' \
              -d '{
              "externalId": "EXT-ADDITIONALFEESCONTRACT-1001",
              "contractId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "itemSequence": 1001,
              "additionalFeesTypeId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "conditions": {
                "referenceUnit": "M3",
                "referenceValue": 7,
                "referenceCriteria": "Below",
                "concreteApplicationMode": [
                  "Pumped",
                  "Conventional"
                ]
              },
              "execution": {
                "method": "AUTOMATIC",
                "effectiveAt": "2026-04-16T10:00:00Z"
              },
              "additionalFeesText": "additional Fees Text sample"
            }'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract', {
              method: 'POST',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }, body: JSON.stringify({
              "externalId": "EXT-ADDITIONALFEESCONTRACT-1001",
              "contractId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "itemSequence": 1001,
              "additionalFeesTypeId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "conditions": {
                "referenceUnit": "M3",
                "referenceValue": 7,
                "referenceCriteria": "Below",
                "concreteApplicationMode": [
                  "Pumped",
                  "Conventional"
                ]
              },
              "execution": {
                "method": "AUTOMATIC",
                "effectiveAt": "2026-04-16T10:00:00Z"
              },
              "additionalFeesText": "additional Fees Text sample"
            })
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            var payload = JsonContent.Create(new
            {
              externalId = "EXT-ADDITIONALFEESCONTRACT-1001",
              contractId = "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              itemSequence = 1001,
              additionalFeesTypeId = "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              conditions = new
              {
                referenceUnit = "M3",
                referenceValue = 7,
                referenceCriteria = "Below",
                concreteApplicationMode = new[] { "Pumped", "Conventional" }
              },
              execution = new
              {
                method = "AUTOMATIC",
                effectiveAt = "2026-04-16T10:00:00Z"
              },
              additionalFeesText = "additional Fees Text sample"
            });
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Post, "https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract") { Content = payload });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'POST',
                'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }, json={
              "externalId": "EXT-ADDITIONALFEESCONTRACT-1001",
              "contractId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "itemSequence": 1001,
              "additionalFeesTypeId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "conditions": {
                "referenceUnit": "M3",
                "referenceValue": 7,
                "referenceCriteria": "Below",
                "concreteApplicationMode": [
                  "Pumped",
                  "Conventional"
                ]
              },
              "execution": {
                "method": "AUTOMATIC",
                "effectiveAt": "2026-04-16T10:00:00Z"
              },
              "additionalFeesText": "additional Fees Text sample"
            }
            )
  '/integrations/AdditionalFeesType/{id}':
    get:
      summary: 'Get an Additional Fees Type by ID'
      description: |-
        Retrieves a single **Additional Fees Type** using the internal Topcon identifier.
        
        - Use this route when the caller already stores the platform `id`.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'getAdditionalFeesTypeById'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Unique identifier of the Additional Fees Type record.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Additional Fees Type retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X GET 'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}', {
              method: 'GET',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            HttpContent? payload = null;
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}") { Content = null });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'GET',
                'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }
            )
    patch:
      summary: 'Update an Additional Fees Type by ID'
      description: |-
        Applies a partial update to an existing **Additional Fees Type** record.
        
        - Only send fields that must change in the `AdditionalFeesTypeUpdateRequest` payload.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'updateAdditionalFeesTypeById'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Unique identifier of the Additional Fees Type record.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Additional Fees Type retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
        '422':
          description: 'Request was syntactically valid but failed semantic or business-rule validation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Validation failed for one or more fields.'
                errorCode: '422'
                notifications:
                  - 'Correct the business validation errors and retry.'
      requestBody:
        required: true
        description: 'Payload used to update a Additional Fees Type record.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesTypeUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESTYPE-1001'
              name: 'Additional Fees Type Example'
              correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
    delete:
      summary: 'Delete an Additional Fees Type by ID'
      description: |-
        Deletes the targeted **Additional Fees Type** record from the integration surface.
        
        - The API returns a confirmation envelope with the deleted reference in `result`.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'deleteAdditionalFeesTypeById'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Unique identifier of the Additional Fees Type record.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Delete confirmation returned when the operation completes successfully.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeDeleteResponse'
              example:
                status: 'success'
                message: 'Additional Fees Type deleted successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
  '/integrations/AdditionalFeesType/by-external-id/{externalId}':
    get:
      summary: 'Get an Additional Fees Type by external ID'
      description: |-
        Retrieves a single **Additional Fees Type** using the external identifier managed by the upstream platform.
        
        - Use this route when the caller stores `externalId` instead of the internal Topcon identifier.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'getAdditionalFeesTypeByExternalId'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'External identifier assigned to the Additional Fees Type record by the upstream platform.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESTYPE-1001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Additional Fees Type retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
    patch:
      summary: 'Update an Additional Fees Type by external ID'
      description: |-
        Applies a partial update to an existing **Additional Fees Type** record.
        
        - Only send fields that must change in the `AdditionalFeesTypeUpdateRequest` payload.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'updateAdditionalFeesTypeByExternalId'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'External identifier assigned to the Additional Fees Type record by the upstream platform.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESTYPE-1001'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Additional Fees Type retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
        '422':
          description: 'Request was syntactically valid but failed semantic or business-rule validation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Validation failed for one or more fields.'
                errorCode: '422'
                notifications:
                  - 'Correct the business validation errors and retry.'
      requestBody:
        required: true
        description: 'Payload used to update a Additional Fees Type record.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesTypeUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESTYPE-1001'
              name: 'Additional Fees Type Example'
              correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
    delete:
      summary: 'Delete an Additional Fees Type by external ID'
      description: |-
        Deletes the targeted **Additional Fees Type** record from the integration surface.
        
        - The API returns a confirmation envelope with the deleted reference in `result`.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'deleteAdditionalFeesTypeByExternalId'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'External identifier assigned to the Additional Fees Type record by the upstream platform.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESTYPE-1001'
      responses:
        '200':
          description: 'Delete confirmation returned when the operation completes successfully.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeDeleteResponse'
              example:
                status: 'success'
                message: 'Additional Fees Type deleted successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '404':
          description: 'Requested record was not found for the supplied identifier or filter.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requested resource was not found.'
                errorCode: '404'
                notifications:
                  - 'Verify the identifier informed in the request.'
  '/integrations/allocation':
    get:
      summary: 'List Allocation records'
      description: |-
        Returns **Allocation** records for synchronization or export scenarios.
        
        - Use the documented query filters to constrain the window of records returned by the API.
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'listAllocation'
      tags:
        - 'Allocation'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'date'
          in: 'query'
          required: false
          description: 'Start date used by date-based export operations.'
          schema:
            type: 'string'
            enum:
              - 'YYYY-MM-DDThh/:mm:ss'
            example: 'YYYY-MM-DDThh/:mm:ss'
          example: 'YYYY-MM-DDThh/:mm:ss'
      responses:
        '200':
          description: 'Successful response that wraps an array of matching records.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AllocationListResponse'
              example:
                status: 'success'
                message: 'Allocation retrieved successfully.'
                result:
                  - id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                    externalId: 'EXT-ALLOCATION-1001'
                    createdAt: '2026-04-16T10:00:00Z'
                    updatedAt: '2026-04-16T11:15:00Z'
                    deleted: false
                    deletedAt: null
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'The request payload or filters are invalid.'
                errorCode: '10000'
                notifications:
                  - 'Review the supplied parameters and try again.'
        '401':
          description: 'Request rejected because the gateway or upstream security layer did not accept the caller credentials.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Unauthorized request.'
                errorCode: '401'
                notifications:
                  - 'Provide a valid bearer token and subscription key.'
        '403':
          description: 'Request rejected because the caller is authenticated but is not allowed to access the requested tenant or resource.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Forbidden request for the supplied tenant context.'
                errorCode: '403'
                notifications:
                  - 'Verify the caller permissions and tenant scope.'
        '422':
          description: 'Request was syntactically valid but failed semantic or business-rule validation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Validation failed for one or more fields.'
                errorCode: '422'
                notifications:
                  - 'Correct the business validation errors and retry.'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X GET 'https://api.topconsuite.io/dispatch/integrations/allocation' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/allocation', {
              method: 'GET',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            HttpContent? payload = null;
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "https://api.topconsuite.io/dispatch/integrations/allocation") { Content = null });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'GET',
                'https://api.topconsuite.io/dispatch/integrations/allocation',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }
            )
  '/integrations/SchedulingAdditionalFee/cancellation-fees':
    get:
      summary: 'Execute a Cancellation Additional Fee operation'
      description: |-
        Executes a documented **Cancellation Additional Fee** integration action.
        
        - Requires **subscription key**, **tenant header**, and **bearer token** context.
      operationId: 'getCancellationAdditionalFeeCancellationFees'
      tags:
        - 'Cancellation Additional Fee'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
      responses:
        '200':
          description: 'Successful response returned in the standard integration envelope.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/CancellationAdditionalFeeResponse'
              example:
                status: 'success'
                message: 'Cancellation Additional Fee retrieved successfully.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-CANCELLATIONADDITIONALFEE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  Paginaderesultados: 1
                  Quantidadedeitensporpagina: 1
                errorCode: null
                notifications: []
        '400':
          description: 'Request rejected because the supplied path, query, or body values are syntactically invalid for this operation.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
[...]
