openapi: '3.0.3'
info:
  title: 'API de Integrações Externas do Topcon Dispatch'
  version: '1.27.0'
  description: 'A API de Integrações Externas do Topcon Dispatch expõe a superfície REST multi-tenant usada para sincronizar dados mestres, registros comerciais, dados de programação, eventos de automação de planta e artefatos fiscais com sistemas de origem. A API retorna um envelope de resposta consistente para casos de sucesso e erro, suporta consultas por identificadores internos e externos e depende de autenticação no gateway e cabeçalhos de escopo de tenant.'
servers:
  - url: 'https://api.topconsuite.io/dispatch'
    description: 'Gateway da API de produção'
  - url: 'http://localhost:4005/dispatch'
    description: 'Servidor local de desenvolvimento'
security:
  - SubscriptionKeyAuth: []
    TenantHeaderAuth: []
    BearerAuth: []
tags:
  - name: 'Additional Fees Contract'
    description: 'Sincronize registros de **Contrato de Taxas Adicionais** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Contrato de Taxas Adicionais.'
    x-displayName: 'Contrato de Taxas Adicionais'
  - name: 'Additional Fees Type'
    description: 'Sincronize registros de **Tipo de Taxa Adicional** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Tipo de Taxa Adicional.'
    x-displayName: 'Tipo de Taxa Adicional'
  - name: 'Allocation'
    description: 'Sincronize registros de **Alocação** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Alocação.'
    x-displayName: 'Alocação'
  - name: 'Cancellation Additional Fee'
    description: 'Sincronize registros de **Taxa Adicional de Cancelamento** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Taxa Adicional de Cancelamento.'
    x-displayName: 'Taxa Adicional de Cancelamento'
  - name: 'Cancellation Reason'
    description: 'Sincronize registros de **Motivo de Cancelamento** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Motivo de Cancelamento.'
    x-displayName: 'Motivo de Cancelamento'
  - name: 'Classification Supply Type'
    description: 'Sincronize registros de **Tipo de Classificação de Insumo** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Tipo de Classificação de Insumo.'
    x-displayName: 'Tipo de Classificação de Insumo'
  - name: 'Client'
    description: 'Sincronize registros de **Cliente** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Cliente.'
    x-displayName: 'Cliente'
  - name: 'Concrete Batching Plant Group'
    description: 'Sincronize registros de **Grupo de Central de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Grupo de Central de Concreto.'
    x-displayName: 'Grupo de Central de Concreto'
  - name: 'Concrete Batching Plant Regional'
    description: 'Sincronize registros de **Regional de Central de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Regional de Central de Concreto.'
    x-displayName: 'Regional de Central de Concreto'
  - name: 'Concrete Batching Plant'
    description: 'Sincronize registros de **Central de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Central de Concreto.'
    x-displayName: 'Central de Concreto'
  - name: 'Concrete Characteristics Type'
    description: 'Sincronize registros de **Tipo de Característica do Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Tipo de Característica do Concreto.'
    x-displayName: 'Tipo de Característica do Concreto'
  - name: 'Concrete Recipe Characteristic'
    description: 'Sincronize registros de **Característica de Receita de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Característica de Receita de Concreto.'
    x-displayName: 'Característica de Receita de Concreto'
  - name: 'Concrete Recipe Family Version'
    description: 'Sincronize registros de **Versão da Família de Receita de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Versão da Família de Receita de Concreto.'
    x-displayName: 'Versão da Família de Receita de Concreto'
  - name: 'Concrete Recipe Family'
    description: 'Sincronize registros de **Família de Receita de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Família de Receita de Concreto.'
    x-displayName: 'Família de Receita de Concreto'
  - name: 'Concrete Recipe'
    description: 'Sincronize registros de **Receita de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Receita de Concreto.'
    x-displayName: 'Receita de Concreto'
  - name: 'ConcreteDiscardDestination'
    description: 'Sincronize registros de **Destino de Descarte de Concreto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Destino de Descarte de Concreto.'
    x-displayName: 'Destino de Descarte de Concreto'
  - name: 'Construction Front'
    description: 'Sincronize registros de **Frente de Obra** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Frente de Obra.'
    x-displayName: 'Frente de Obra'
  - name: 'Construction'
    description: 'Sincronize registros de **Obra** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Obra.'
    x-displayName: 'Obra'
  - name: 'Contact Info'
    description: 'Sincronize registros de **Informação de Contato** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Informação de Contato.'
    x-displayName: 'Informação de Contato'
  - name: 'Contact'
    description: 'Sincronize registros de **Contato** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Contato.'
    x-displayName: 'Contato'
  - name: 'Contract'
    description: 'Sincronize registros de **Contrato** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Contrato.'
    x-displayName: 'Contrato'
  - name: 'Cost Supply'
    description: 'Sincronize registros de **Custo de Insumo** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Custo de Insumo.'
    x-displayName: 'Custo de Insumo'
  - name: 'Country'
    description: 'Sincronize registros de **País** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para País.'
    x-displayName: 'País'
  - name: 'Daily Production Closing'
    description: 'Sincronize registros de **Fechamento Diário de Produção** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Fechamento Diário de Produção.'
    x-displayName: 'Fechamento Diário de Produção'
  - name: 'Delivery Route'
    description: 'Sincronize registros de **Rota de Entrega** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Rota de Entrega.'
    x-displayName: 'Rota de Entrega'
  - name: 'Delivery Tax Document'
    description: 'Sincronize registros de **Documento Fiscal de Entrega** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Documento Fiscal de Entrega.'
    x-displayName: 'Documento Fiscal de Entrega'
  - name: 'Delivery Ticket'
    description: 'Sincronize registros de **Ticket de Entrega** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Ticket de Entrega.'
    x-displayName: 'Ticket de Entrega'
  - name: 'Delivery'
    description: 'Sincronize registros de **Entrega** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Entrega.'
    x-displayName: 'Entrega'
  - name: 'Employee'
    description: 'Sincronize registros de **Funcionário** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Funcionário.'
    x-displayName: 'Funcionário'
  - name: 'Gravel'
    description: 'Sincronize registros de **Brita** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Brita.'
    x-displayName: 'Brita'
  - name: 'Holiday'
    description: 'Sincronize registros de **Feriado** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Feriado.'
    x-displayName: 'Feriado'
  - name: 'Inventory Movement'
    description: 'Sincronize registros de **Movimentação de Estoque** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Movimentação de Estoque.'
    x-displayName: 'Movimentação de Estoque'
  - name: 'Item Other Services'
    description: 'Sincronize registros de **Item de Outros Serviços** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Item de Outros Serviços.'
    x-displayName: 'Item de Outros Serviços'
  - name: 'Item Product'
    description: 'Sincronize registros de **Item Produto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Item Produto.'
    x-displayName: 'Item Produto'
  - name: 'Item Pumping'
    description: 'Sincronize registros de **Item de Bombeamento** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Item de Bombeamento.'
    x-displayName: 'Item de Bombeamento'
  - name: 'Load ticket response'
    description: 'Sincronize registros de **Resposta de Ticket de Carga** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Resposta de Ticket de Carga.'
    x-displayName: 'Resposta de Ticket de Carga'
  - name: 'Load Ticket'
    description: 'Sincronize registros de **Ticket de Carga** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Ticket de Carga.'
    x-displayName: 'Ticket de Carga'
  - name: 'Loading Point'
    description: 'Sincronize registros de **Ponto de Carregamento** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Ponto de Carregamento.'
    x-displayName: 'Ponto de Carregamento'
  - name: 'LoadReuse'
    description: 'Sincronize registros de **Reuso de Carga** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Reuso de Carga.'
    x-displayName: 'Reuso de Carga'
  - name: 'Log Scheduling'
    description: 'Sincronize registros de **Log de Programação** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Log de Programação.'
    x-displayName: 'Log de Programação'
  - name: 'Municipality'
    description: 'Sincronize registros de **Município** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Município.'
    x-displayName: 'Município'
  - name: 'Owner'
    description: 'Sincronize registros de **Proprietário** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Proprietário.'
    x-displayName: 'Proprietário'
  - name: 'Payment Condition'
    description: 'Sincronize registros de **Condição de Pagamento** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Condição de Pagamento.'
    x-displayName: 'Condição de Pagamento'
  - name: 'Piece To Be Concreted'
    description: 'Sincronize registros de **Peça a Concretar** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Peça a Concretar.'
    x-displayName: 'Peça a Concretar'
  - name: 'Preliminary visits'
    description: 'Sincronize registros de **Visitas Preliminares** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Visitas Preliminares.'
    x-displayName: 'Visitas Preliminares'
  - name: 'Product Group'
    description: 'Sincronize registros de **Grupo de Produto** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Grupo de Produto.'
    x-displayName: 'Grupo de Produto'
  - name: 'Pumping Type'
    description: 'Sincronize registros de **Tipo de Bombeamento** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Tipo de Bombeamento.'
    x-displayName: 'Tipo de Bombeamento'
  - name: 'Reservation'
    description: 'Sincronize registros de **Reserva** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Reserva.'
    x-displayName: 'Reserva'
  - name: 'Safety visits'
    description: 'Sincronize registros de **Visitas de Segurança** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Visitas de Segurança.'
    x-displayName: 'Visitas de Segurança'
  - name: 'Scheduling'
    description: 'Sincronize registros de **Programação** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Programação.'
    x-displayName: 'Programação'
  - name: 'Seller'
    description: 'Sincronize registros de **Vendedor** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Vendedor.'
    x-displayName: 'Vendedor'
  - name: 'Service Type'
    description: 'Sincronize registros de **Tipo de Serviço** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Tipo de Serviço.'
    x-displayName: 'Tipo de Serviço'
  - name: 'Service'
    description: 'Sincronize registros de **Serviço** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Serviço.'
    x-displayName: 'Serviço'
  - name: 'Slump'
    description: 'Sincronize registros de **Slump** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Slump.'
    x-displayName: 'Slump'
  - name: 'Supplier'
    description: 'Sincronize registros de **Fornecedor** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Fornecedor.'
    x-displayName: 'Fornecedor'
  - name: 'Supply'
    description: 'Sincronize registros de **Insumo** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Insumo.'
    x-displayName: 'Insumo'
  - name: 'TaxClassification'
    description: 'Sincronize registros de **Classificação Fiscal** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Classificação Fiscal.'
    x-displayName: 'Classificação Fiscal'
  - name: 'TaxRegulation'
    description: 'Sincronize registros de **Regulamentação Fiscal** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Regulamentação Fiscal.'
    x-displayName: 'Regulamentação Fiscal'
  - name: 'TaxSituationClassification'
    description: 'Sincronize registros de **Classificação de Situação Fiscal** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Classificação de Situação Fiscal.'
    x-displayName: 'Classificação de Situação Fiscal'
  - name: 'Technical Data Supply'
    description: 'Sincronize registros de **Dados Técnicos de Insumo** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Dados Técnicos de Insumo.'
    x-displayName: 'Dados Técnicos de Insumo'
  - name: 'Vehicle'
    description: 'Sincronize registros de **Veículo** entre sistemas de negócio de origem e o Topcon Dispatch. Use esta tag para as operações documentadas de criação, leitura, atualização, exclusão e sincronização expostas para Veículo.'
    x-displayName: 'Veículo'
x-tagGroups:
  - name: 'Comercial'
    tags:
      - 'Additional Fees Contract'
      - 'Additional Fees Type'
      - 'Cancellation Additional Fee'
      - 'Cancellation Reason'
      - 'Client'
      - 'Contact'
      - 'Contact Info'
      - 'Contract'
      - 'Owner'
      - 'Payment Condition'
      - 'Seller'
  - name: 'Programação e Despacho'
    tags:
      - 'Allocation'
      - 'Construction'
      - 'Construction Front'
      - 'Daily Production Closing'
      - 'Delivery'
      - 'Delivery Route'
      - 'Delivery Tax Document'
      - 'Delivery Ticket'
      - 'Load Ticket'
      - 'Load ticket response'
      - 'LoadReuse'
      - 'Log Scheduling'
      - 'Piece To Be Concreted'
      - 'Preliminary visits'
      - 'Reservation'
      - 'Safety visits'
      - 'Scheduling'
  - name: 'Usinas e Materiais'
    tags:
      - 'Classification Supply Type'
      - 'Concrete Batching Plant'
      - 'Concrete Batching Plant Group'
      - 'Concrete Batching Plant Regional'
      - 'Concrete Characteristics Type'
      - 'Concrete Recipe'
      - 'Concrete Recipe Characteristic'
      - 'Concrete Recipe Family'
      - 'Concrete Recipe Family Version'
      - 'ConcreteDiscardDestination'
      - 'Cost Supply'
      - 'Gravel'
      - 'Inventory Movement'
      - 'Item Other Services'
      - 'Item Product'
      - 'Item Pumping'
      - 'Loading Point'
      - 'Product Group'
      - 'Pumping Type'
      - 'Service'
      - 'Service Type'
      - 'Slump'
      - 'Supplier'
      - 'Supply'
      - 'Technical Data Supply'
  - name: 'Dados Mestres'
    tags:
      - 'Country'
      - 'Employee'
      - 'Holiday'
      - 'Municipality'
      - 'Vehicle'
  - name: 'Fiscal'
    tags:
      - 'TaxClassification'
      - 'TaxRegulation'
      - 'TaxSituationClassification'
paths:
  '/integrations/AdditionalFeesContract/{id}':
    get:
      summary: 'Obter um Contrato de Taxas Adicionais por ID'
      description: |-
        Recupera um único **Contrato de Taxas Adicionais** usando o identificador interno da Topcon.
        
        - Use esta rota quando o chamador já armazenar o `id` da plataforma.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'getAdditionalFeesContractById'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Identificador único do registro Contrato de Taxas Adicionais.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X GET 'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}', {
              method: 'GET',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            HttpContent? payload = null;
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}") { Content = null });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'GET',
                'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract/{id}',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }
            )
    patch:
      summary: 'Atualizar um Contrato de Taxas Adicionais por ID'
      description: |-
        Aplica uma atualização parcial em um registro existente de **Contrato de Taxas Adicionais**.
        
        - Envie apenas os campos que precisam mudar no payload `AdditionalFeesContractUpdateRequest`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'updateAdditionalFeesContractById'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Identificador único do registro Contrato de Taxas Adicionais.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
        '422':
          description: 'A requisição e sintaticamente valida, mas falhou em validacoes semânticas ou regras de negócio.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'A validação falhou para um ou mais campos.'
                errorCode: '422'
                notifications:
                  - 'Corrija os erros de validação de negócio e tente novamente.'
      requestBody:
        required: true
        description: 'Corpo usado para atualizar um registro de Contrato de Taxas Adicionais.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesContractUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
              contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              itemSequence: 1001
              additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
              execution:
                method: 'AUTOMATIC'
                effectiveAt: '2026-04-16T10:00:00Z'
              additionalFeesText: 'additional Fees Text sample'
    delete:
      summary: 'Excluir um Contrato de Taxas Adicionais por ID'
      description: |-
        Exclui o registro **Contrato de Taxas Adicionais** alvo da superfície de integracao.
        
        - A API retorna um envelope de confirmação com a referencia excluida em `result`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'deleteAdditionalFeesContractById'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Identificador único do registro Contrato de Taxas Adicionais.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Confirmação de exclusão retornada quando a operação e concluída com sucesso.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractDeleteResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais excluído com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
  '/integrations/AdditionalFeesContract/by-external-id/{externalId}':
    get:
      summary: 'Obter um Contrato de Taxas Adicionais por identificador externo'
      description: |-
        Recupera um único **Contrato de Taxas Adicionais** usando o identificador externo gerenciado pela plataforma de origem.
        
        - Use esta rota quando o chamador armazenar `externalId` em vez do identificador interno da Topcon.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'getAdditionalFeesContractByExternalId'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'Identificador externo atribuido ao registro Additional Fees Contract pela plataforma de origem.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESCONTRACT-1001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
    patch:
      summary: 'Atualizar um Contrato de Taxas Adicionais por identificador externo'
      description: |-
        Aplica uma atualização parcial em um registro existente de **Contrato de Taxas Adicionais**.
        
        - Envie apenas os campos que precisam mudar no payload `AdditionalFeesContractUpdateRequest`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'updateAdditionalFeesContractByExternalId'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'Identificador externo atribuido ao registro Additional Fees Contract pela plataforma de origem.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESCONTRACT-1001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
        '422':
          description: 'A requisição e sintaticamente valida, mas falhou em validacoes semânticas ou regras de negócio.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'A validação falhou para um ou mais campos.'
                errorCode: '422'
                notifications:
                  - 'Corrija os erros de validação de negócio e tente novamente.'
      requestBody:
        required: true
        description: 'Corpo usado para atualizar um registro de Contrato de Taxas Adicionais.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesContractUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
              contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              itemSequence: 1001
              additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
              execution:
                method: 'AUTOMATIC'
                effectiveAt: '2026-04-16T10:00:00Z'
              additionalFeesText: 'additional Fees Text sample'
    delete:
      summary: 'Excluir um Contrato de Taxas Adicionais por identificador externo'
      description: |-
        Exclui o registro **Contrato de Taxas Adicionais** alvo da superfície de integracao.
        
        - A API retorna um envelope de confirmação com a referencia excluida em `result`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'deleteAdditionalFeesContractByExternalId'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'Identificador externo atribuido ao registro Additional Fees Contract pela plataforma de origem.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESCONTRACT-1001'
      responses:
        '200':
          description: 'Confirmação de exclusão retornada quando a operação e concluída com sucesso.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractDeleteResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais excluído com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
  '/integrations/AdditionalFeesContract':
    post:
      summary: 'Criar um registro de Contrato de Taxas Adicionais'
      description: |-
        Cria um novo registro **Contrato de Taxas Adicionais** na superfície de integracao externa.
        
        - Envie o payload descrito por `AdditionalFeesContractCreateRequest` e mantenha `externalId` estavel quando o sistema de origem precisar de correlacao idempotente.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'createAdditionalFeesContract'
      tags:
        - 'Additional Fees Contract'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
      responses:
        '201':
          description: 'Recurso criado retornado no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesContractResponse'
              example:
                status: 'success'
                message: 'Contrato de Taxas Adicionais criado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  itemSequence: 1001
                  additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                  execution:
                    method: 'AUTOMATIC'
                    effectiveAt: '2026-04-16T10:00:00Z'
                  additionalFeesText: 'additional Fees Text sample'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '422':
          description: 'A requisição e sintaticamente valida, mas falhou em validacoes semânticas ou regras de negócio.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'A validação falhou para um ou mais campos.'
                errorCode: '422'
                notifications:
                  - 'Corrija os erros de validação de negócio e tente novamente.'
      requestBody:
        required: true
        description: 'Corpo usado para criar um registro de Contrato de Taxas Adicionais.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesContractCreateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESCONTRACT-1001'
              contractId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              itemSequence: 1001
              additionalFeesTypeId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
              execution:
                method: 'AUTOMATIC'
                effectiveAt: '2026-04-16T10:00:00Z'
              additionalFeesText: 'additional Fees Text sample'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X POST 'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json' \
              -d '{
              "externalId": "EXT-ADDITIONALFEESCONTRACT-1001",
              "contractId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "itemSequence": 1001,
              "additionalFeesTypeId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "conditions": {
                "referenceUnit": "M3",
                "referenceValue": 7,
                "referenceCriteria": "Below",
                "concreteApplicationMode": [
                  "Pumped",
                  "Conventional"
                ]
              },
              "execution": {
                "method": "AUTOMATIC",
                "effectiveAt": "2026-04-16T10:00:00Z"
              },
              "additionalFeesText": "additional Fees Text sample"
            }'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract', {
              method: 'POST',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }, body: JSON.stringify({
              "externalId": "EXT-ADDITIONALFEESCONTRACT-1001",
              "contractId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "itemSequence": 1001,
              "additionalFeesTypeId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "conditions": {
                "referenceUnit": "M3",
                "referenceValue": 7,
                "referenceCriteria": "Below",
                "concreteApplicationMode": [
                  "Pumped",
                  "Conventional"
                ]
              },
              "execution": {
                "method": "AUTOMATIC",
                "effectiveAt": "2026-04-16T10:00:00Z"
              },
              "additionalFeesText": "additional Fees Text sample"
            })
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            var payload = JsonContent.Create(new
            {
              externalId = "EXT-ADDITIONALFEESCONTRACT-1001",
              contractId = "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              itemSequence = 1001,
              additionalFeesTypeId = "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              conditions = new
              {
                referenceUnit = "M3",
                referenceValue = 7,
                referenceCriteria = "Below",
                concreteApplicationMode = new[] { "Pumped", "Conventional" }
              },
              execution = new
              {
                method = "AUTOMATIC",
                effectiveAt = "2026-04-16T10:00:00Z"
              },
              additionalFeesText = "additional Fees Text sample"
            });
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Post, "https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract") { Content = payload });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'POST',
                'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesContract',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }, json={
              "externalId": "EXT-ADDITIONALFEESCONTRACT-1001",
              "contractId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "itemSequence": 1001,
              "additionalFeesTypeId": "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001",
              "conditions": {
                "referenceUnit": "M3",
                "referenceValue": 7,
                "referenceCriteria": "Below",
                "concreteApplicationMode": [
                  "Pumped",
                  "Conventional"
                ]
              },
              "execution": {
                "method": "AUTOMATIC",
                "effectiveAt": "2026-04-16T10:00:00Z"
              },
              "additionalFeesText": "additional Fees Text sample"
            }
            )
  '/integrations/AdditionalFeesType/{id}':
    get:
      summary: 'Obter um Tipo de Taxa Adicional por ID'
      description: |-
        Recupera um único **Tipo de Taxa Adicional** usando o identificador interno da Topcon.
        
        - Use esta rota quando o chamador já armazenar o `id` da plataforma.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'getAdditionalFeesTypeById'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Identificador único do registro Tipo de Taxa Adicional.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Tipo de Taxa Adicional recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X GET 'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}', {
              method: 'GET',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            HttpContent? payload = null;
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}") { Content = null });
        - lang: 'python'
          label: 'Python'
          source: |-
            import requests
            
            response = requests.request(
                'GET',
                'https://api.topconsuite.io/dispatch/integrations/AdditionalFeesType/{id}',
                headers={
                    'Authorization': 'Bearer <access-token>',
                    'Ocp-Apim-Subscription-Key': '<subscription-key>',
                    'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                    'Content-Type': 'application/json'
                }
            )
    patch:
      summary: 'Atualizar um Tipo de Taxa Adicional por ID'
      description: |-
        Aplica uma atualização parcial em um registro existente de **Tipo de Taxa Adicional**.
        
        - Envie apenas os campos que precisam mudar no payload `AdditionalFeesTypeUpdateRequest`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'updateAdditionalFeesTypeById'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Identificador único do registro Tipo de Taxa Adicional.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Tipo de Taxa Adicional recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
        '422':
          description: 'A requisição e sintaticamente valida, mas falhou em validacoes semânticas ou regras de negócio.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'A validação falhou para um ou mais campos.'
                errorCode: '422'
                notifications:
                  - 'Corrija os erros de validação de negócio e tente novamente.'
      requestBody:
        required: true
        description: 'Corpo usado para atualizar um registro de Tipo de Taxa Adicional.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesTypeUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESTYPE-1001'
              name: 'Additional Fees Type Example'
              correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
    delete:
      summary: 'Excluir um Tipo de Taxa Adicional por ID'
      description: |-
        Exclui o registro **Tipo de Taxa Adicional** alvo da superfície de integracao.
        
        - A API retorna um envelope de confirmação com a referencia excluida em `result`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'deleteAdditionalFeesTypeById'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'id'
          in: 'path'
          required: true
          description: 'Identificador único do registro Tipo de Taxa Adicional.'
          schema:
            type: 'string'
            format: 'uuid'
          example: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
      responses:
        '200':
          description: 'Confirmação de exclusão retornada quando a operação e concluída com sucesso.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeDeleteResponse'
              example:
                status: 'success'
                message: 'Tipo de Taxa Adicional excluído com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
  '/integrations/AdditionalFeesType/by-external-id/{externalId}':
    get:
      summary: 'Obter um Tipo de Taxa Adicional por identificador externo'
      description: |-
        Recupera um único **Tipo de Taxa Adicional** usando o identificador externo gerenciado pela plataforma de origem.
        
        - Use esta rota quando o chamador armazenar `externalId` em vez do identificador interno da Topcon.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'getAdditionalFeesTypeByExternalId'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'Identificador externo atribuido ao registro Additional Fees Type pela plataforma de origem.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESTYPE-1001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Tipo de Taxa Adicional recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
    patch:
      summary: 'Atualizar um Tipo de Taxa Adicional por identificador externo'
      description: |-
        Aplica uma atualização parcial em um registro existente de **Tipo de Taxa Adicional**.
        
        - Envie apenas os campos que precisam mudar no payload `AdditionalFeesTypeUpdateRequest`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'updateAdditionalFeesTypeByExternalId'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'Identificador externo atribuido ao registro Additional Fees Type pela plataforma de origem.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESTYPE-1001'
      responses:
        '200':
          description: 'Resposta de sucesso retornada no envelope padrão de integracao.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeResponse'
              example:
                status: 'success'
                message: 'Tipo de Taxa Adicional recuperado com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  createdAt: '2026-04-16T10:00:00Z'
                  updatedAt: '2026-04-16T11:15:00Z'
                  deleted: false
                  deletedAt: null
                  name: 'Additional Fees Type Example'
                  correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  conditions:
                    referenceUnit: 'M3'
                    referenceValue: 7
                    referenceCriteria: 'Below'
                    concreteApplicationMode:
                      - 'Pumped'
                      - 'Conventional'
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
        '422':
          description: 'A requisição e sintaticamente valida, mas falhou em validacoes semânticas ou regras de negócio.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'A validação falhou para um ou mais campos.'
                errorCode: '422'
                notifications:
                  - 'Corrija os erros de validação de negócio e tente novamente.'
      requestBody:
        required: true
        description: 'Corpo usado para atualizar um registro de Tipo de Taxa Adicional.'
        content:
          'application/json':
            schema:
              '$ref': '#/components/schemas/AdditionalFeesTypeUpdateRequest'
            example:
              externalId: 'EXT-ADDITIONALFEESTYPE-1001'
              name: 'Additional Fees Type Example'
              correspondingServiceId: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
              conditions:
                referenceUnit: 'M3'
                referenceValue: 7
                referenceCriteria: 'Below'
                concreteApplicationMode:
                  - 'Pumped'
                  - 'Conventional'
    delete:
      summary: 'Excluir um Tipo de Taxa Adicional por identificador externo'
      description: |-
        Exclui o registro **Tipo de Taxa Adicional** alvo da superfície de integracao.
        
        - A API retorna um envelope de confirmação com a referencia excluida em `result`.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'deleteAdditionalFeesTypeByExternalId'
      tags:
        - 'Additional Fees Type'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'externalId'
          in: 'path'
          required: true
          description: 'Identificador externo atribuido ao registro Additional Fees Type pela plataforma de origem.'
          schema:
            type: 'string'
          example: 'EXT-ADDITIONALFEESTYPE-1001'
      responses:
        '200':
          description: 'Confirmação de exclusão retornada quando a operação e concluída com sucesso.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AdditionalFeesTypeDeleteResponse'
              example:
                status: 'success'
                message: 'Tipo de Taxa Adicional excluído com sucesso.'
                result:
                  id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                  externalId: 'EXT-ADDITIONALFEESTYPE-1001'
                  deleted: true
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '404':
          description: 'O registro solicitado não foi encontrado para o identificador ou filtro informado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O recurso solicitado não foi encontrado.'
                errorCode: '404'
                notifications:
                  - 'Verifique o identificador informado na requisição.'
  '/integrations/allocation':
    get:
      summary: 'Listar registros de Alocação'
      description: |-
        Retorna registros de **Alocação** para cenarios de sincronização ou exportacao.
        
        - Use os filtros de query documentados para limitar a janela de registros retornada pela API.
        - Exige **subscription key**, **tenant header** e contexto de **bearer token**.
      operationId: 'listAllocation'
      tags:
        - 'Allocation'
      parameters:
        - '$ref': '#/components/parameters/SubscriptionKeyHeader'
        - '$ref': '#/components/parameters/TenantIdHeader'
        - name: 'date'
          in: 'query'
          required: false
          description: 'Data inicial usada por operações de exportacao baseadas em data.'
          schema:
            type: 'string'
            enum:
              - 'YYYY-MM-DDThh/:mm:ss'
            example: 'YYYY-MM-DDThh/:mm:ss'
          example: 'YYYY-MM-DDThh/:mm:ss'
      responses:
        '200':
          description: 'Resposta de sucesso que encapsula um array de registros correspondentes.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/AllocationListResponse'
              example:
                status: 'success'
                message: 'Alocação recuperado com sucesso.'
                result:
                  - id: '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001'
                    externalId: 'EXT-ALLOCATION-1001'
                    createdAt: '2026-04-16T10:00:00Z'
                    updatedAt: '2026-04-16T11:15:00Z'
                    deleted: false
                    deletedAt: null
                errorCode: null
                notifications: []
        '400':
          description: 'Requisição rejeitada porque os valores de path, query ou body são sintaticamente inválidos para está operação.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'O payload ou os filtros da requisição são inválidos.'
                errorCode: '10000'
                notifications:
                  - 'Revise os parâmetros informados e tente novamente.'
        '401':
          description: 'Requisição rejeitada porque o gateway ou a camada de segurança de origem não aceitou as credenciais do chamador.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição não autorizada.'
                errorCode: '401'
                notifications:
                  - 'Informe um bearer token e uma subscription key válidos.'
        '403':
          description: 'Requisição rejeitada porque o chamador está autenticado, mas não tem permissão para acessar o tenant ou recurso solicitado.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'Requisição proibida para o contexto de tenant informado.'
                errorCode: '403'
                notifications:
                  - 'Verifique as permissões do chamador e o escopo do tenant.'
        '422':
          description: 'A requisição e sintaticamente valida, mas falhou em validacoes semânticas ou regras de negócio.'
          content:
            'application/json':
              schema:
                '$ref': '#/components/schemas/ErrorResponse'
              example:
                status: 'error'
                message: 'A validação falhou para um ou mais campos.'
                errorCode: '422'
                notifications:
                  - 'Corrija os erros de validação de negócio e tente novamente.'
      x-codeSamples:
        - lang: 'curl'
          label: 'cURL'
          source: |-
            curl -X GET 'https://api.topconsuite.io/dispatch/integrations/allocation' \
              -H 'Authorization: Bearer <access-token>' \
              -H 'Ocp-Apim-Subscription-Key: <subscription-key>' \
              -H 'X-TenantId: 6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001' \
              -H 'Content-Type: application/json'
        - lang: 'javascript'
          label: 'JavaScript'
          source: |-
            await fetch('https://api.topconsuite.io/dispatch/integrations/allocation', {
              method: 'GET',
              headers: {
                Authorization: 'Bearer <access-token>',
                'Ocp-Apim-Subscription-Key': '<subscription-key>',
                'X-TenantId': '6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001',
                'Content-Type': 'application/json'
              }
            });
        - lang: 'csharp'
          label: 'C#'
          source: |-
            using System.Net.Http.Headers;
            using System.Net.Http.Json;
            
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", "<access-token>");
            client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", "<subscription-key>");
            client.DefaultRequestHeaders.Add("X-TenantId", "6f5d8a4b-9f7a-4d20-8c10-5d8ce5b1a001");
            HttpContent? payload = null;
            var response = await client.SendAsync(new HttpRequestMessage(HttpMethod.Get, "https://api.topconsuite.io/dispatch/integrations/allocation") { Content = null });
[...]
